@media screen and (max-width: 700px){  
  #boot-container{
    #bootup{
      width: 96%;
      margin: 0 auto;
      display: flex;
      padding: 10px 2px 2px 2px;
      justify-content: space-between;
      // border: 2px solid red;
      #boot-left{
        p{
          font-size: small;
        }
        #boot1,#boot2,#boot3,#boot4{
          display: none;
        }
      }
      #boot-right{
        img{
          width: 100px;
        }
      }
    }
    #bootdown{
      p{
        font-size: small;
      }
    }
  }
  #winsboot{
    display: none;
    img{
      width: 100%;
      height: 100%;
    }
  }

  .main-container {
    /////main screen///////////
    .main-screen {  
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      .icon{
        padding: 6px;
        margin: 6px;
        img{
          width: 40px;
        }
      }
      #cv-icon{
        img{
          width: 40px;
        }
      }
      #sf-icon{
        padding: 6px;
        margin-top: 20px;
        img{
          width: 70px;
        }
      }


      ///////////modal-style.css goes from here///////
      /// to here///////////////// 
      
          ///modal recycle bin/////
    #myModal-recycle {
      display: none;
      width: 80%;
      height: auto;
      top: 100px;
      left: 40px;
      border: 1px solid rgb(192,192,192);
      #myModal-recycleCon {
        height: 6%;
        #left-icon{
          width: 50%;
          img {
            padding: 4px;
            width: 25px;
          }
        }
        #right-iconRec{
          padding: 2px;
          border-radius: 1px;
          button {
            width: 25px;
            p {
              font-weight: bold;
            }
          }
        }
      }
      #modal-main{
        background-color: white;
        height: 250px;
        width: 99%;
        
        display: flex;
        flex-wrap: wrap;
        .bin-folder {
          padding: 4px;
          margin: 6px;
          width: 25%;
          height: 90px;
        }
      }
    }

    /////////modal project////////////
    #myModal-project {
      display: none;
      height: 90%;
      width: 90%;
      top: 0px;
      left: 20px;
      #myModal-projectCon {
        width: 100%;
        height: 25px;
        #left-icon{
          width: 50%;
          img {
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 86%;
        #pro-tab {
          .tab{
            padding: 4px;
            font-size: medium;
          }
        }
        #client-pro{
          p {
            color: black;
          }
          #client-flex{
            display: flex;
            flex-direction: column;
            .client-div{
              border-radius: 5px;
              border-top: 1px dotted rgb(135, 134, 134);
              align-items: center;
              display: flex;
              flex-direction: column;
              padding: 10px;
              video {
                border-radius: 5px;
                width: 90%;
              }
              #infosec {
                span {
                  font-size: medium;
                }
                .techUsed {
                  margin: 8px;
                }
                p{
                  text-align: justify;
                  font-size: medium;
                }
              }
            }
          }
        }

        #personal-pro{
          display: none;
          #personal-flex{
            .personal-div{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              margin: 10px auto;
              padding: 10px;
              border-top: 1px dotted rgb(135, 134, 134);
              border-radius: 5px;
              video {
                border-radius: 5px;
                width: 90%;
              }
              img{
                border-radius: 5px;
                max-width: 90%;
              }
              #infosec {
                text-align: center;
                span {
                  font-size: medium;
                }
                .techUsed {
                  margin: 8px;
                }
                p{
                  text-align: justify;
                  font-size: medium;
                }
              }
            }
          }
        }
        
      }
      #modal-bottom{
        p {
          font-size: small;
        }
      }
    }
    
    // modal-cv//////////
    #myModal-cv {
      display: none;
      width: 90%;
      height: 70%;
      top: 10px;
      left: 10px;
      #myModal-cvCon {
        width: 100%;
        height: 25px;
        #left-icon{
          img {
            padding: 5px;
            width: 25px;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 86%;
        width: 99%;
        margin: 0 auto;
        p{
          color: black;
        }
      }
    }

    // model media player///////////////
    #myModal-player {
      display: none;
      width: 90%;
      height: auto;
      top: 80px;
      left: 10px;
      #myModal-playerCon {
        height: 25px;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            padding: 4px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 300px;
        width: 99%;
        display: block;
        #vid-gif{
          width: 100%;
          background-color: black;
          img {
            width: 90%;
            height: 80%;
          }
        }
        input{
          width: 100%;
          transition: 0.1s ease;
        }
        audio {
          display: none;
        }
        #control {
          align-items: center;
          width: 100%;
          height: 12%;
          display: flex;
          background-color: rgb(192,192,192);
          align-items: center;
          #audio-cont {
            display: flex;
            img {
              width: 20%;
              margin: 0 2px;
              border: 1px solid rgb(120, 120, 120);
              border-radius: 5px;
              padding: 4px;
            }

            #novolbtn, #volbtn {
              padding: 0 10px;
            }
          }
        }
        #audio-time{
          border: 1px solid rgb(106, 106, 106);
          padding: 1px;
          p{
            font-size: small;
          }

        }
        #media-logo {
          display: none;
        }
      }
      #modal-bottom{
        p {
          width: 100%;
          font-size: small;
        }
      }
    }


    ////model internet explore////////
    #myModal-explore{
      display: none;
      border: 1px solid rgb(192,192,192);
      width: 70%;
      height: auto;
      top: 30px;
      left: 100px;
      #myModal-exploreCon {
        height: 25px;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            padding: 4px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 80%;
        width: 99%;
        margin: 0 auto;
        
        img{
          border: 2px double rgb(180, 180, 180);
          width: 100%;
          height: 40%;
        }
        #dial-box {
          margin: 0 auto;
          // border: 2px solid red;
          height: 60%;
          width: 90%;
          text-align: center;
          p{
            margin: 6px auto;
          }
          div{
            padding: 4px;
            border: 2px double rgb(90, 90, 90);
            p{
              margin: 10px auto;
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
      #modal-bottom{
        p{
          font-size: small;
        }
        audio {
          display: none;
        }
      }

    }

    ////////pc modal//////////
    #myModal-pc{
      display: none;
      top: 100px;
      left: 10px;
      border: 1px solid rgb(192,192,192);
      width: 80%;
      height: auto;
      #myModal-pcCon {
        height: 25px;
        #left-icon{
          img {
            padding: 4px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 200px;
        width: 100%;

      }
    }

    ////////modal street frigther /////////////
    #myModal-sf {
      display: none;
      top: 60px;
      left: 10px;
      border: 1px solid rgb(192,192,192);
      width: 94%;
      height: 70%;
      #myModal-sfCon {
        height: 25px;
        border: 1px solid rgb(192,192,192);
        #left-icon{
          display: flex;
          align-items: center;
          img {
            margin-right: 6px;
            padding: 4px;
            width: 25px;
          }
          p {
            font-size: small;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 87%;
        width: 100%;
        margin: 0 auto;
        iframe {
          width: 100%;
          height: 100%;
        }
      }

    }

    ////////modal alien invasion /////////////
    #myModal-ai {
      display: none;
      top: 20px;
      left: 20px;
      width: 90%;
      height: 90%;
      #myModal-aiCon {
        height: 25px;
        #left-icon{
          img {
            padding: 2px;
            width: 25px;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 90%;
        width: 99%;
        margin: 0 auto;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    ////model about me////////
    #myModal-about{
      // @extend #myModal-recycle;
      display: none;
      top: 10px;
      left: 5px;
      #modal-main{
        width: 300px;
        #img-con{
          width: 100%;
          img {
            width: 200px;
            border-radius: 5px;
          }
        }
        #socials{
          #about-cv{
            // border: 1px solid green;
            width: 100%;
            // margin: 0 auto;
            a {
              width: 100%;
              img {
                width: 20px;
              }
              &:hover{
                cursor: pointer;
                background-color: rgb(2,2,168);
                color: white;
              }
            }
          }
          #about-main{
            width: 100%;
            display: flex;
            flex-direction: column;
            #about-left{
              display: flex;
              flex-direction: column;
              p{
                width: 100%;
                &:hover{
                  cursor: pointer;
                  background-color: rgb(2,2,168);
                  color: white;
                }
              }
            }
            #about-right{
              display: flex;
              flex-direction: column;
              p{
                width: 100%;
                &:hover{
                  cursor: pointer;
                  background-color: rgb(2,2,168);
                  color: white;
                }
              }
            }
          }
        }

      }
    }

    }
    ///////bottom bar/////////////
  
    .bottom-bar {
      #start-btn {
        margin-left: 2px;
        button {
          height: 100%;
          img{
            width: 100%;
          }
          p{
            font-weight: bold;
          }
        }
      }

      ///start container/////
      #start-container{
        bottom: 26px;
        display: none;
        #first-box-start{
          width: 49vw;
          #left-start{
            width: 10%;
            padding-bottom: 10px;
            img{
              width: 20px;
            }
          }
          #right-start{
            width: 90%;
            #right-sec1, #right-sec2, #right-sec3, #right-sec4{

              .flex-item-right-clientproj,.flex-item-right-personalproj,
              .flex-item-right-internet,.flex-item-right-about,
              .flex-item-right-media,.flex-item-right-game,
              .flex-item-right-logout {
                padding: 10px 0;
                .svgcl{
                  margin-right: 2px;
                  width: 10px;
                }
                p{
                  font-size: small;
                  img{
                    margin-right: 6px;
                    width: 15px;
                  }
                }
              }
            }
          }
        }
      }
        ////////second right start client/////////
        #right-clientproj{
          // display: block;
          width: 49vw;
          #right-sec1{
            width: 100%;
            .flex-item-rightc1,.flex-item-rightc2,.flex-item-rightc3,
            .flex-item-rightc4{
              padding: 10px 0;
            }
            p{
              font-size: small !important;
              img{
                margin-right: 6px;
                width: 12px !important;
              }
            }
          }
        }


        ////second right personal prog///////
        #right-personalproj{
          display: block;
          top: 0px !important;
          width: 49vw;
          #right-sec1{
            width: 100%;
            .flex-item-rightp1,.flex-item-rightp2,.flex-item-rightp3,
            .flex-item-rightp4,.flex-item-rightp5,.flex-item-rightp6{
              padding: 10px 0 !important;
              p{
                font-size: small !important;
                img{
                  margin-right: 6px;
                  width: 12px !important;
                }
              }
            }
          }
        }

        ////second right games///////
        #right-game{
          display: none;
          width: 49vw;
          top: 190px !important;
          #right-sec1{
            .flex-item-rightg1,.flex-item-rightg2{
              &:hover{
                cursor: pointer;
                background-color: rgb(2,2,168);
                color: white;
              }
              a{
                &:hover{
                  cursor: pointer;
                  background-color: rgb(2,2,168);
                  color: white;
                }
                p{
                  font-size: small !important;
                  img{
                    margin-right: 6px;
                    width: 12px !important;
                  }
                }
              }
            }
          }
        }
  
        ////////bottom bar right time////////////////
        #right-con {
          height: 100%;
          img {
            width: 25px;
            margin-bottom: 6px;
          }
          p{
            font-size: small;
          }
        }
    }


  }
}




//////////////media 700-1100/////////////////

@media screen and (max-width: 1000px) and (min-width: 700px){
  #boot-container{
    #bootup{
      width: 90%;
    }
    #bootmiddle{
      width: 90%;
    }
    #bootdown{
      width: 90%;
    }
  }


  .main-container {
    /////main screen///////////

    .main-screen {  
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
      .icon{
        padding: 8px;
        margin: 8px;
        img{
          width: 45px;
        }
      }
      #cv-icon{
        img{
          width: 45px;
        }
      }
      #sf-icon{
        padding: 6px;
        margin-top: 20px;
        img{
          width: 75px;
        }
      }


      ///////////modal-style.css goes from here///////
      /// to here///////////////// 
      
          ///modal recycle bin/////
    #myModal-recycle {
      display: none;
      width: 80%;
      height: auto;
      top: 100px;
      left: 40px;
      border: 2px solid rgb(192,192,192);
      #myModal-recycleCon {
        height: 6%;
        #left-icon{
          width: 50%;
          img {
            padding: 5px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 250px;
        width: 99%;
        flex-wrap: wrap;
      }
      #modal-bottom{
        height: 25px;
      }
    }

    /////////modal project////////////
    #myModal-project {
      display: none;
      height: 80%;
      width: 80%;
      top: 0px;
      #myModal-projectCon {
        width: 100%;
        height: 25px;
        #left-icon{
          width: 50%;
          img {
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 86%;
        #pro-tab {
          .tab{
            padding: 4px;
            font-size: large;
          }
        }
        #client-pro{
          p {
            color: black;
          }
          #client-flex{
            display: flex;
            flex-direction: column;
            .client-div{
              border-radius: 5px;
              border-top: 1px dotted rgb(135, 134, 134);
              align-items: center;
              display: flex;
              flex-direction: column;
              padding: 10px;
              video {
                border-radius: 5px;
                width: 90%;
              }
              #infosec {
                span {
                  font-size: medium;
                }
                .techUsed {
                  margin: 10px;
                }
                p{
                  text-align: justify;
                  font-size: medium;
                }
              }
            }
          }
        }

        #personal-pro{
          display: none;
          #personal-flex{
            .personal-div{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
              margin: 10px auto;
              padding: 10px;
              border-top: 1px dotted rgb(135, 134, 134);
              border-radius: 5px;
              video {
                border-radius: 5px;
                width: 90%;
              }
              img{
                border-radius: 5px;
                max-width: 90%;
              }
              #infosec {
                text-align: center;
                span {
                  font-size: medium;
                }
                .techUsed {
                  margin: 8px;
                }
                p{
                  text-align: justify;
                  font-size: medium;
                }
              }
            }
          }
        }
        
      }
    }
    
    // modal-cv//////////
    #myModal-cv {
      display: none;
      width: 80%;
      height: 80%;
      top: 10px;
      left: 10px;
      #myModal-cvCon {
        width: 100%;
        height: 25px;
        #left-icon{
          img {
            padding: 5px;
            width: 25px;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 89%;
        width: 99%;
        margin: 0 auto;
        p{
          color: black;
        }
      }
    }

    // model media player///////////////
    #myModal-player {
      display: none;
      width: auto;
      height: auto;
      top: 60px;
      left: 50px;
      #myModal-playerCon {
        height: 25px;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 350px;
        width: 100%;
        display: block;
        #vid-gif{
          width: 100%;
          background-color: black;
          img {
            margin: auto 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            height: 90%;
          }
        }
        input{
          width: 100%;
          transition: 0.1s ease;
        }
        audio {
          display: none;
        }
        #control {
          align-items: center;
          width: 100%;
          // height: 12%;
          display: flex;
          background-color: rgb(192,192,192);
          // align-items: center;
          #audio-cont {
            display: flex;
            img {
              width: 20%;
              margin: 0 6px;
              border: 1px solid rgb(120, 120, 120);
              border-radius: 5px;
              padding: 4px;
            }

            #novolbtn, #volbtn {
              padding: 10px;
            }
          }
        }
        #audio-time{
          border: 2px solid rgb(106, 106, 106);
          padding: 4px;
          p{
            font-size: medium;
          }

        }
        // #media-logo {
        //   display: none;
        // }
      }
    }


    ////model internet explore////////
    #myModal-explore{
      display: none;
      border: 2px solid rgb(192,192,192);
      width: auto;
      height: auto;
      top: 30px;
      left: 100px;
      #myModal-exploreCon {
        height: 25px;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            padding: 4px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 80%;
        width: 99%;
        margin: 0 auto;
        
        img{
          border: 2px double rgb(180, 180, 180);
          width: 100%;
          height: 40%;
        }
        #dial-box {
          margin: 0 auto;
          // border: 2px solid red;
          width: 80%;
          height: 50%;
          text-align: center;
          p{
            margin: 10px auto;
          }
          div{
            padding: 6px;
            border: 2px double rgb(90, 90, 90);
            p{
              margin: 20px auto;
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
      #modal-bottom{
        p{
          font-size: medium;
        }
        audio {
          display: none;
        }
      }

    }

    ////////pc modal//////////
    #myModal-pc{
      display: none;
      top: 100px;
      left: 60px;
      border: 1px solid rgb(192,192,192);
      width: 60%;
      height: auto;
      #myModal-pcCon {
        height: 25px;
        #left-icon{
          img {
            padding: 6px;
            width: 25px;
          }
        }
      }
      #modal-main{
        height: 200px;
        width: 99%;

      }
    }

    ////////modal street frigther /////////////
    #myModal-sf {
      display: none;
      top: 60px;
      left: 40px;
      border: 1px solid rgb(192,192,192);
      width: 94%;
      height: 80%;
      #myModal-sfCon {
        height: 25px;
        border: 1px solid rgb(192,192,192);
        #left-icon{
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
            padding: 4px;
            width: 30px;
          }
          p {
            font-size: medium;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 87%;
        width: 100%;
        margin: 0 auto;
        iframe {
          width: 100%;
        }
      }

    }

    ////////modal alien invasion /////////////
    #myModal-ai {
      display: none;
      top: 20px;
      left: 20px;
      width: 90%;
      height: 90%;
      #myModal-aiCon {
        height: 25px;
        #left-icon{
          img {
            padding: 2px;
            width: 25px;
          }
        }
      }
      #modal-main{
        display: block;
        background-color: white;
        height: 90%;
        width: 99%;
        margin: 0 auto;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }


    }

    ///////bottom bar/////////////
  
    .bottom-bar {
      #start-btn {
        margin-left: 2px;
        button {
          height: 100%;
          img{
            width: 100%;
          }
          p{
            font-weight: bold;
          }
        }
      }

      ///start container/////
      #start-container{
        bottom: 31px;
        display: none;
        #first-box-start{
          width: 40vw;
          #left-start{
            width: 8%;
            padding-bottom: 10px;
            img{
              width: 20px;
            }
          }
          #right-start{
            width: 92%;
            #right-sec1, #right-sec2, #right-sec3, #right-sec4{
              
              .flex-item-right-clientproj,.flex-item-right-personalproj,
              .flex-item-right-internet,.flex-item-right-about,
              .flex-item-right-media,.flex-item-right-game,
              .flex-item-right-logout {
                padding: 10px 0;
                .svgcl{
                  margin-right: 8px;
                  width: 10px;
                }
                p{
                  font-size: medium;
                  img{
                    margin-right: 8px;
                    width: 25px;
                  }
                }
              }
            }
          }
        }
      }
        ////////second right start client/////////
        #right-clientproj{
          display: none;
          width: 49vw;
          #right-sec1{
            width: 100%;
            .flex-item-rightc1,.flex-item-rightc2,.flex-item-rightc3,
            .flex-item-rightc4{
              padding: 10px 0;
            }
            p{
              font-size: medium !important;
              img{
                margin-right: 6px;
                width: 25px !important;
              }
            }
          }
        }


        ////second right personal prog///////
        #right-personalproj{
          display: none;
          top: 0px !important;
          width: 49vw;
          #right-sec1{
            width: 100%;
            .flex-item-rightp1,.flex-item-rightp2,.flex-item-rightp3,
            .flex-item-rightp4,.flex-item-rightp5,.flex-item-rightp6{
              padding: 10px 0 !important;
              p{
                font-size: medium !important;
                img{
                  margin-right: 6px;
                  width: 25px !important;
                }
              }
            }
          }
        }

        ////second right games///////
        #right-game{
          display: none;
          top: 230px !important;
          #right-sec1{
            .flex-item-rightg1,.flex-item-rightg2{
              border-top: 2px solid rgb(140, 139, 139);
              display: flex;
              justify-content: space-between;
              // padding: 10px;
              &:hover{
                cursor: pointer;
                background-color: rgb(2,2,168);
                color: white;
              }
              a{
                // border: 1px solid red;
                &:hover{
                  cursor: pointer;
                  background-color: rgb(2,2,168);
                  color: white;
                }
                p{
                  font-size: medium !important;

                  img{
                    margin-right: 6px;
                    width: 25px !important;
                  }
                }
              }
            }
          }
        }
  
        ////////bottom bar right time////////////////
        #right-con {
          height: 100%;
          img {
            width: 25px;
            margin-bottom: 6px;
          }
          p{
            font-size: small;
          }
        }
    }


  }
}