* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-container #winlogo {
  position: absolute;
  top: 20%;
  right: 10%;
  opacity: 0.3;
}

.main-container .main-screen {
  width: 100%;
  height: 97%;
  background-color: #008082;
  color: white;
  padding: 20px;
}

.main-container .main-screen .icon {
  padding: 2px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}

.main-container .main-screen .icon:hover {
  cursor: pointer;
}

.main-container .main-screen #cv-icon img {
  width: 40%;
}

.main-container .main-screen #myModal-recycle, .main-container .main-screen #myModal-project, .main-container .main-screen #myModal-player {
  display: none;
  position: absolute;
  z-index: 9;
  text-align: center;
  border: 2px solid silver;
  width: 50%;
  height: 50%;
  background-color: silver;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon, .main-container .main-screen #myModal-project #myModal-recycleCon, .main-container .main-screen #myModal-player #myModal-recycleCon {
  width: 100%;
  height: 5%;
  border: 1px solid silver;
  cursor: move;
  z-index: 10;
  background-color: #0202a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #left-icon, .main-container .main-screen #myModal-project #myModal-recycleCon #left-icon, .main-container .main-screen #myModal-player #myModal-recycleCon #left-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #left-icon img, .main-container .main-screen #myModal-project #myModal-recycleCon #left-icon img, .main-container .main-screen #myModal-player #myModal-recycleCon #left-icon img {
  padding: 5px;
  width: 25%;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #left-icon p, .main-container .main-screen #myModal-project #myModal-recycleCon #left-icon p, .main-container .main-screen #myModal-player #myModal-recycleCon #left-icon p {
  color: white;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #right-icon, .main-container .main-screen #myModal-project #myModal-recycleCon #right-icon, .main-container .main-screen #myModal-player #myModal-recycleCon #right-icon {
  z-index: 11;
  padding: 4px;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #right-icon button, .main-container .main-screen #myModal-project #myModal-recycleCon #right-icon button, .main-container .main-screen #myModal-player #myModal-recycleCon #right-icon button {
  width: 20px;
}

.main-container .main-screen #myModal-recycle #myModal-recycleCon #right-icon button p, .main-container .main-screen #myModal-project #myModal-recycleCon #right-icon button p, .main-container .main-screen #myModal-player #myModal-recycleCon #right-icon button p {
  font-weight: bold;
}

.main-container .main-screen #myModal-recycle #modal-menu, .main-container .main-screen #myModal-project #modal-menu, .main-container .main-screen #myModal-player #modal-menu {
  background-color: silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-screen #myModal-recycle #modal-menu p, .main-container .main-screen #myModal-project #modal-menu p, .main-container .main-screen #myModal-player #modal-menu p {
  color: black;
  padding: 4px;
  margin: 0 4px;
}

.main-container .main-screen #myModal-recycle #modal-menu p span, .main-container .main-screen #myModal-project #modal-menu p span, .main-container .main-screen #myModal-player #modal-menu p span {
  text-decoration: underline;
}

.main-container .main-screen #myModal-recycle #modal-menu p:hover, .main-container .main-screen #myModal-project #modal-menu p:hover, .main-container .main-screen #myModal-player #modal-menu p:hover {
  cursor: pointer;
  background-color: #0202a8;
  color: white;
}

.main-container .main-screen #myModal-recycle #modal-main, .main-container .main-screen #myModal-project #modal-main, .main-container .main-screen #myModal-player #modal-main {
  background-color: white;
  height: 85%;
  width: 99%;
  margin: 0 auto;
  border-top: 2px solid black;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid black;
}

.main-container .main-screen #myModal-recycle #modal-bottom, .main-container .main-screen #myModal-project #modal-bottom, .main-container .main-screen #myModal-player #modal-bottom {
  color: black;
  background-color: silver;
  width: 99%;
  margin: 0 auto;
  margin-top: 4px;
  border-top: 2px solid #2b2a2a;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid #2b2a2a;
}

.main-container .main-screen #myModal-recycle #modal-bottom p, .main-container .main-screen #myModal-project #modal-bottom p, .main-container .main-screen #myModal-player #modal-bottom p {
  margin: 0 6px;
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.main-container .main-screen #myModal-project {
  height: 80%;
  top: 100px;
  left: 100px;
}

.main-container .main-screen #myModal-project #myModal-projectCon {
  width: 100%;
  height: 3%;
  border: 1px solid silver;
  cursor: move;
  z-index: 10;
  background-color: #0202a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-project #myModal-projectCon #left-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-project #myModal-projectCon #left-icon img {
  padding: 5px;
  width: 25%;
}

.main-container .main-screen #myModal-project #myModal-projectCon #left-icon p {
  color: white;
}

.main-container .main-screen #myModal-project #myModal-projectCon #right-icon {
  z-index: 11;
  padding: 4px;
}

.main-container .main-screen #myModal-project #myModal-projectCon #right-icon button {
  width: 20px;
}

.main-container .main-screen #myModal-project #myModal-projectCon #right-icon button p {
  font-weight: bold;
}

.main-container .main-screen #myModal-project #modal-main {
  height: 91%;
  width: 99%;
  overflow: scroll;
}

.main-container .main-screen #myModal-project #modal-main #pro-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.main-container .main-screen #myModal-project #modal-main #pro-tab .tab {
  background-color: #b8b5b5;
  border: 2px solid #4f4f4f;
  color: black;
  width: 50%;
  padding: 5px;
  font-size: large;
}

.main-container .main-screen #myModal-project #modal-main #pro-tab .tab:hover {
  cursor: pointer;
}

.main-container .main-screen #myModal-project #modal-main #pro-tab #client-tab {
  border-top: 2px solid black;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid black;
  background-color: #e4e0e0;
  font-weight: bolder;
}

.main-container .main-screen #myModal-project #modal-main #client-pro p {
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div:hover {
  background-color: #d1d1d1;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div video {
  border-radius: 10px;
  width: 40%;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div video:hover {
  cursor: pointer;
  -webkit-animation: inout 1.5s infinite;
          animation: inout 1.5s infinite;
}

@-webkit-keyframes inout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes inout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div #infosec {
  text-align: center;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div #infosec span {
  color: black;
  font-size: large;
  text-decoration: underline;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div #infosec .techUsed {
  margin: 10px;
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div #infosec p {
  text-align: justify;
  width: 70%;
  margin: 6px auto;
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #client-pro #client-flex .client-div #infosec .lunchcode a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro {
  display: none;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro p {
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px auto;
  padding: 10px;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div:hover {
  background-color: #d1d1d1;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div video {
  border-radius: 10px;
  width: 40%;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div video:hover {
  cursor: pointer;
  -webkit-animation: inout 1.5s infinite;
          animation: inout 1.5s infinite;
}

@keyframes inout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div #infosec {
  text-align: center;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div #infosec span {
  color: black;
  font-size: large;
  text-decoration: underline;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div #infosec .techUsed {
  margin: 10px;
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div #infosec p {
  text-align: justify;
  width: 70%;
  margin: 6px auto;
  color: black;
}

.main-container .main-screen #myModal-project #modal-main #personal-pro #personal-flex .personal-div #infosec .lunchcode a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.main-container .main-screen #myModal-project #modal-bottom {
  color: black;
  background-color: silver;
  width: 99%;
  margin: 0 auto;
  margin-top: 4px;
  border-top: 2px solid #2b2a2a;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid #2b2a2a;
}

.main-container .main-screen #myModal-project #modal-bottom p {
  margin: 0 6px;
  width: 50%;
  text-align: left;
}

.main-container .main-screen #myModal-cv {
  display: none;
  position: absolute;
  z-index: 9;
  text-align: center;
  border: 2px solid silver;
  width: 50%;
  height: 80%;
  background-color: silver;
}

.main-container .main-screen #myModal-cv #myModal-cvCon {
  width: 100%;
  height: 3%;
  border: 1px solid silver;
  cursor: move;
  z-index: 10;
  background-color: #0202a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #left-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #left-icon img {
  padding: 5px;
  width: 25%;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #left-icon p {
  color: white;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #right-icon {
  z-index: 11;
  padding: 4px;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #right-icon button {
  width: 20px;
}

.main-container .main-screen #myModal-cv #myModal-cvCon #right-icon button p {
  font-weight: bold;
}

.main-container .main-screen #myModal-cv #modal-menu {
  background-color: silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-screen #myModal-cv #modal-menu p {
  color: black;
  padding: 4px;
  margin: 0 4px;
}

.main-container .main-screen #myModal-cv #modal-menu p span {
  text-decoration: underline;
}

.main-container .main-screen #myModal-cv #modal-menu p:hover {
  cursor: pointer;
  background-color: #0202a8;
  color: white;
}

.main-container .main-screen #myModal-cv #modal-main {
  border: 2px solid red;
  background-color: white;
  height: 91%;
  width: 99%;
  margin: 0 auto;
  border-top: 2px solid black;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid black;
}

.main-container .main-screen #myModal-cv #modal-bottom {
  color: black;
  background-color: silver;
  width: 99%;
  margin: 0 auto;
  margin-top: 4px;
  border-top: 2px solid #2b2a2a;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid #2b2a2a;
}

.main-container .main-screen #myModal-cv #modal-bottom p {
  margin: 0 6px;
  width: 50%;
  text-align: left;
}

.main-container .main-screen #myModal-player {
  display: block;
  top: 100px;
  bottom: 100px;
}

.main-container .main-screen #myModal-player #myModal-playerCon {
  width: 100%;
  height: 5%;
  border: 1px solid silver;
  cursor: move;
  z-index: 10;
  background-color: #0202a8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-player #myModal-playerCon #left-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-player #myModal-playerCon #left-icon img {
  padding: 5px;
  width: 25%;
}

.main-container .main-screen #myModal-player #myModal-playerCon #left-icon p {
  color: white;
}

.main-container .main-screen #myModal-player #myModal-playerCon #right-icon {
  z-index: 11;
  padding: 4px;
}

.main-container .main-screen #myModal-player #myModal-playerCon #right-icon button {
  width: 20px;
}

.main-container .main-screen #myModal-player #myModal-playerCon #right-icon button p {
  font-weight: bold;
}

.main-container .main-screen #myModal-player #modal-main {
  background-color: silver;
}

.main-container .main-screen #myModal-player #modal-main input {
  width: 100%;
  z-index: 1000;
}

.main-container .main-screen #myModal-player #modal-main audio {
  display: none;
}

.main-container .main-screen #myModal-player #modal-main #vid-gif {
  height: 80%;
  background-color: black;
}

.main-container .main-screen #myModal-player #modal-main #vid-gif img {
  margin: auto 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-container .main-screen #myModal-player #modal-main #control {
  height: 20%;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: silver;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main-screen #myModal-player #modal-main #control #audio-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .main-screen #myModal-player #modal-main #control #audio-cont img {
  width: 50px;
  margin: 4px 10px;
  border: 2px double #787878;
  border-radius: 5px;
  padding: 4px;
}

.main-container .main-screen #myModal-player #modal-main #control #audio-cont img:hover {
  cursor: pointer;
  background-color: #989797;
}

.main-container .main-screen #myModal-player #modal-main #control #audio-cont img:first-child {
  border-top: 2px solid black;
  border-right: 2px solid #e2dfdf;
  border-bottom: 2px solid #e2dfdf;
  border-left: 2px solid black;
}

.main-container .main-screen #myModal-player #modal-main #audio-time {
  border: 2px solid #6a6a6a;
  padding: 10px;
  background-color: black;
}

.main-container .main-screen #myModal-player #modal-main #audio-time p {
  color: green;
}

.main-container .main-screen #myModal-player #modal-bottom p {
  width: 100%;
  font-size: small;
}

.main-container .bottom-bar {
  border-top: 2px solid white;
  background-color: silver;
  height: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .bottom-bar #start-btn button {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #807f7f;
  border-bottom: 2px solid #807f7f;
}

.main-container .bottom-bar #right-con {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid #807f7f;
  border-left: 2px solid #807f7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */