*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin border-color {
  border-top: 2px solid black;
  border-right: 2px solid rgb(226, 223, 223);
  border-bottom: 2px solid rgb(226, 223, 223);
  border-left: 2px solid black;
}

.main-container {
  width: 100%;
  height: 100%;
  #winlogo {
    position: absolute;
    top: 20%;
    right: 10%;
    opacity: 0.3;
  }
  .main-screen {
    width: 100%;
    height: 97%;
    background-color: rgb(0,128,130);
    color: white;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    .icon{
      padding: 2px;
      margin: 20px;
      display: inline-block;
      text-align: center;
      &:hover{
        cursor: pointer;
      }
    }
    #cv-icon{
      img{
        width: 40%;
      }
    }
    
    ///modal recycle bin/////
    #myModal-recycle {
      display: none;
      position: absolute;
      z-index: 9;
      text-align: center;
      border: 2px solid rgb(192,192,192);
      width: 50%;
      height: 50%;
      background-color: rgb(192,192,192);
      #mydivheader {
        width: 100%;
        height: 5%;
        border: 1px solid rgb(192,192,192);
        cursor: move;
        z-index: 10;
        background-color: rgb(2,2,168);
        display: flex;
        justify-content: space-between;
        align-items: center;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            padding: 5px;
            width: 25%;
          }
          p {
            color: white;
          }
        }
        #right-icon{
          z-index: 11;
          padding: 4px;
          button {
            width: 20px;
            p {
              font-weight: bold;
            }
          }
        }
      }
      #modal-menu{
        background-color: rgb(192,192,192);
        display: flex;
        p{
          color: black;
          padding: 4px;
          margin: 0 4px;
          span {
            text-decoration: underline;
          }
          &:hover{
            cursor: pointer;
            background-color: rgb(2,2,168);
            color: white;
          }
        }
      }
      #modal-main{
        background-color: white;
        height: 85%;
        width: 99%;
        margin: 0 auto;
        @include border-color;
      }
      #modal-bottom{
        color: black;
        background-color: rgb(192,192,192);
        width: 99%;
        margin: 0 auto;
        margin-top: 4px;
        border-top: 2px solid rgb(43, 42, 42);
        border-right: 2px solid rgb(226, 223, 223);
        border-bottom: 2px solid rgb(226, 223, 223);
        border-left: 2px solid rgb(43, 42, 42);
        p {
          margin: 0 6px;
          width: 50%;
          text-align: left;
        }
      }
    }

    /////modal project///////
    // #myModal-project {
    //   @extend #myModal-recycle;
    //   display: block;
    //   #modal-main {
    //     #client-pro{
    //       p {
    //         color: black;
    //       }
    //       #client-flex{
    //         display: flex;
    //         .client-div{
    //           // border: 2px solid red;
    //           video {
    //             width: 90%;
    //             &:hover{
    //               cursor: pointer;
    //               animation: inout 1.5s infinite;
    //               @keyframes inout {
    //                 0% {
    //                   transform: scale(1);
    //                 }
    //                 50% {
    //                   transform: scale(0.9);
    //                 }
    //                 100% {
    //                   transform: scale(1);
    //                 }
    //               }
    //             }
    //           }
    //           p{
    //             color: black;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    #myModal-project {
      @extend #myModal-recycle;
      display: block;
      height: 80%;
      #mydivheader {
        height: 3%;
      }
      #modal-main{
        height: 91%;
        width: 99%;
        #pro-tab {
          display: flex;
          .tab{
            background-color: rgb(184, 181, 181);
            border: 2px solid rgb(79, 79, 79);
            color: black;
            width: 50%;
            padding: 5px;
            // background-color: rgb(192,192,192);
            &:hover{
              cursor: pointer;
            }
          }
        }
        #client-pro{
          p {
            color: black;
          }
          #client-flex{
            display: flex;
            flex-direction: column;
            .client-div{
              display: flex;
              justify-content: space-around;
              margin: 10px auto;
              padding: 10px;
              // border: 2px solid red;
              &:hover{
                background-color: rgb(209, 209, 209);;
              }
              video {
                border-radius: 10px;
                width: 40%;
                &:hover{
                  cursor: pointer;
                  animation: inout 1.5s infinite;
                  @keyframes inout {
                    0% {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(0.9);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
                }
              }
              #infosec {
                text-align: center;
                // border: 2px solid red;
                span {
                  color: black;
                  font-size: large;
                  text-decoration: underline;
                }
                .techUsed {
                  margin: 10px;
                  color: black;
                }
                p{
                  text-align: justify;
                  width: 70%;
                  margin: 6px auto;
                  color: black;
                }
                .lunchcode {

                  a{
                    margin: 0 10px;
                    text-decoration: none;
                    color: black;
                  }
                }
              }
            }
          }
        }

        #personal-pro{
          display: none;
          p {
            color: black;
          }
          #personal-flex{
            display: flex;
            flex-direction: column;
            .personal-div{
              display: flex;
              justify-content: space-around;
              margin: 10px auto;
              padding: 10px;
              // border: 2px solid red;
              &:hover{
                background-color: rgb(209, 209, 209);;
              }
              video {
                border-radius: 10px;
                width: 40%;
                &:hover{
                  cursor: pointer;
                  animation: inout 1.5s infinite;
                  @keyframes inout {
                    0% {
                      transform: scale(1);
                    }
                    50% {
                      transform: scale(0.9);
                    }
                    100% {
                      transform: scale(1);
                    }
                  }
                }
              }
              #infosec {
                text-align: center;
                // border: 2px solid red;
                span {
                  color: black;
                  font-size: large;
                  text-decoration: underline;
                }
                .techUsed {
                  margin: 10px;
                  color: black;
                }
                p{
                  text-align: justify;
                  width: 70%;
                  margin: 6px auto;
                  color: black;
                }
                .lunchcode {

                  a{
                    margin: 0 10px;
                    text-decoration: none;
                    color: black;
                  }
                }
              }
            }
          }
        }
        
      }
      #modal-bottom{
        color: black;
        background-color: rgb(192,192,192);
        width: 99%;
        margin: 0 auto;
        margin-top: 4px;
        border-top: 2px solid rgb(43, 42, 42);
        border-right: 2px solid rgb(226, 223, 223);
        border-bottom: 2px solid rgb(226, 223, 223);
        border-left: 2px solid rgb(43, 42, 42);
        p {
          margin: 0 6px;
          width: 50%;
          text-align: left;
        }
      }
    }
    
    // modal-cv
    #myModal-cv {
      display: none;
      position: absolute;
      z-index: 9;
      text-align: center;
      border: 2px solid rgb(192,192,192);
      width: 50%;
      height: 80%;
      background-color: rgb(192,192,192);
      #mydivheader {
        width: 100%;
        height: 3%;
        border: 1px solid rgb(192,192,192);
        cursor: move;
        z-index: 10;
        background-color: rgb(2,2,168);
        display: flex;
        justify-content: space-between;
        align-items: center;
        #left-icon{
          display: flex;
          align-items: center;
          img {
            padding: 5px;
            width: 25%;
          }
          p {
            color: white;
          }
        }
        #right-icon{
          z-index: 11;
          padding: 4px;
          button {
            width: 20px;
            p {
              font-weight: bold;
            }
          }
        }
      }
      #modal-menu{
        background-color: rgb(192,192,192);
        display: flex;
        p{
          color: black;
          padding: 4px;
          margin: 0 4px;
          span {
            text-decoration: underline;
          }
          &:hover{
            cursor: pointer;
            background-color: rgb(2,2,168);
            color: white;
          }
        }
      }
      #modal-main{
        border: 2px solid red;
        background-color: white;
        height: 91%;
        width: 99%;
        margin: 0 auto;
        @include border-color;
      }
      #modal-bottom{
        color: black;
        background-color: rgb(192,192,192);
        width: 99%;
        margin: 0 auto;
        margin-top: 4px;
        border-top: 2px solid rgb(43, 42, 42);
        border-right: 2px solid rgb(226, 223, 223);
        border-bottom: 2px solid rgb(226, 223, 223);
        border-left: 2px solid rgb(43, 42, 42);
        p {
          margin: 0 6px;
          width: 50%;
          text-align: left;
        }
      }

    }


  }

  .bottom-bar {
    border-top: 2px solid white;
    background-color: rgb(192,192,192);
    height: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #start-btn {
      button {
        border: 2px solid red;
        display: flex;
        align-items: center;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-right: 2px solid rgb(128, 127, 127);
        border-bottom: 2px solid rgb(128, 127, 127);
      }
    }
    #right-con {
      border-right: 2px solid white;
      border-bottom: 2px solid white;
      border-top: 2px solid rgb(128, 127, 127);
      border-left: 2px solid rgb(128, 127, 127);
      display: flex;
      align-items: center;
    }
  }
}
